<a href="https://colab.research.google.com/github/sabiandika/learn-code-in-google-collab/blob/main/11_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def tambah(x, y):
  return x + y

def kurang(x, y):
  return x - y

def kali(x, y):
  return x * y

def bagi(x, y):
  if y == 0:
    raise ZeroDivisionError(f"Bilangan {x} tidak dapat dibagi dengan 0")
  return x / y

def show_menu():
  print("pilih pengoperasian")
  print("1. Tambah")
  print("2. Kurang")
  print("3. Kali")
  print("4. Bagi")
  print("5. Exit")

while True:
  show_menu()
  choice = input("Masukkan pilihan pengoperasian dari no (1 - 5): ")

  if choice == "5":
    print("Program selesai")
    break

  try:
    num1 = int(input("Masukkan bilangan pertama: "))
    num2 = int(input("Masukkan bilangan kedua: "))

    if choice == "1":
      print("Hasil: ", tambah(num1,num2))
    elif choice == "2":
      print("Hasil: ", kurang(num1,num2))
    elif choice == "3":
      print("Hasil: ", kali(num1,num2))
    elif choice == "4":
      print("Hasil: ", bagi(num1,num2))
    else:
      print("pilihan tersebut tidak tersedia")

  except ValueError:
    print("input tidak bisa, tolong input angka yang valid")
  except ZeroDivisionError as l:
    print(l)

pilih pengoperasian
1. Tambah
2. Kurang
3. Kali
4. Bagi
5. Exit
Masukkan pilihan pengoperasian dari no (1 - 5): 1
Masukkan bilangan pertama: 5
Masukkan bilangan kedua: 12
Hasil:  17
pilih pengoperasian
1. Tambah
2. Kurang
3. Kali
4. Bagi
5. Exit
Masukkan pilihan pengoperasian dari no (1 - 5): 2
Masukkan bilangan pertama: 5
Masukkan bilangan kedua: 6
Hasil:  -1
pilih pengoperasian
1. Tambah
2. Kurang
3. Kali
4. Bagi
5. Exit
Masukkan pilihan pengoperasian dari no (1 - 5): 3
Masukkan bilangan pertama: 15
Masukkan bilangan kedua: 3
Hasil:  45
pilih pengoperasian
1. Tambah
2. Kurang
3. Kali
4. Bagi
5. Exit
Masukkan pilihan pengoperasian dari no (1 - 5): 5
Program selesai

In [ ]:
##Return_values
def tambah(x,y):
  return x + y

result = tambah(10,90)
print(result)

100

In [ ]:
##Return multiple values
def perhitungan(x,y):
  tambah = x + y
  kurang = x - y
  kali = x * y
  bagi = x / y
  return tambah, kurang, kali, bagi

hasil = perhitungan(10,2)
print(hasil)

(12, 8, 20, 5.0)

In [ ]:
#Temperatur converter
#step 1
def celcius_to_fahrenheit(celcius):
  return (celcius * 9/5) + 32
def celcius_to_kelvin(celcius):
  return celcius + 273.15

def kelvin_to_fahrenheit(kelvin):
  return (kelvin - 273.15) * 9/5 + 32

def kelvin_to_celcius(kelvin):
  return kelvin - 273.15

def fahrenheit_to_kelvin(fahrenheit):
  return (fahrenheit - 32) * 5/9 + 273.15

def fahrenheit_to_celcius(fahrenheit):
  return (fahrenheit - 32) * 5/9

#step 2
def show_menu():
  print("\n=== Temperature Converter ===")
  print("1. Celcius ke Fahrenheit dan kelvin")
  print("2. fahrenheit ke Kelvin dan celcius")
  print("3. kelvin ke fahrenheit dan celcius")
  print("4. Exit")

#step 3
while True:
  show_menu()
  choice = input("Masukkan pilihan (1/2/3/4): ")

  if choice == '1':
    celcius = float(input("Masukkan suhu dalam celcius: "))
    print(f"Fahrenheit: {celcius_to_fahrenheit(celcius)}")
    print(f"Kelvin: {celcius_to_kelvin(celcius)}")

  elif choice == '2':
    fahrenheit = float(input("Masukkan suhu dalam fahrenheit: "))
    print(f"Kelvin: {fahrenheit_to_kelvin(fahrenheit)}")
    print(f"Celcius: {fahrenheit_to_celcius(fahrenheit)}")

  elif choice == '3':
    kelvin = float(input("Masukkan suhu dalam kelvin: "))
    print(f"celcius: {kelvin_to_celcius(kelvin)}")
    print(f"fahrenhiet: {kelvin_to_fahrenheit(kelvin)}")

  elif choice == '4':
    print("Program selesai, Goodbye")
    break;

  else:
    print("Pilihan Tidak tersedia")

=== Temperature Converter ===
1. Celcius ke Fahrenheit dan kelvin
2. fahrenheit ke Kelvin dan celcius
3. kelvin ke fahrenheit dan celcius
4. Exit
Masukkan pilihan (1/2/3/4): 1
Masukkan suhu dalam celcius: 30
Fahrenheit: 86.0
Kelvin: 303.15

=== Temperature Converter ===
1. Celcius ke Fahrenheit dan kelvin
2. fahrenheit ke Kelvin dan celcius
3. kelvin ke fahrenheit dan celcius
4. Exit
Masukkan pilihan (1/2/3/4): 2
Masukkan suhu dalam fahrenheit: 212
Kelvin: 373.15
Celcius: 100.0

=== Temperature Converter ===
1. Celcius ke Fahrenheit dan kelvin
2. fahrenheit ke Kelvin dan celcius
3. kelvin ke fahrenheit dan celcius
4. Exit
Masukkan pilihan (1/2/3/4): 3
Masukkan suhu dalam kelvin: 400
celcius: 126.85000000000002
fahrenhiet: 260.33000000000004

=== Temperature Converter ===
1. Celcius ke Fahrenheit dan kelvin
2. fahrenheit ke Kelvin dan celcius
3. kelvin ke fahrenheit dan celcius
4. Exit
Masukkan pilihan (1/2/3/4): 8
Pilihan Tidak tersedia

=== Temperature Converter ===
1. Celcius ke Fahrenheit dan kelvin
2. fahrenheit ke Kelvin dan celcius
3. kelvin ke fahrenheit dan celcius
4. Exit
Masukkan pilihan (1/2/3/4): 4
Program selesai, Goodbye

LIST COMPREHENSION
List Comprehension adalah cara singkat untuk membuat list baru dari list lain (atau dari range, string, dll.) menggunakan satu baris kode yang lebih rapi, cepat, dan “pythonic”.

Bentuk dasarnya:

[new_item **for** item **in** iterable]

In [2]:
genap = [x for x in range(10) if x % 2 == 0]
print(genap)

[0, 2, 4, 6, 8]

In [7]:
hasil = ["genap" if x % 2 == 0 else "ganjil" for x in range(10)]
print(hasil,)

['genap', 'ganjil', 'genap', 'ganjil', 'genap', 'ganjil', 'genap', 'ganjil', 'genap', 'ganjil']

In [9]:
# ubah string jadi integer
data = ["1", "2", "3"]
angka = [int(d) for d in data]
print(angka)

[1, 2, 3]

In [10]:
pangkat = [x**2 for x in range(10)]
print(pangkat)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
names = ["sabian", "novan", "bagas", "imam", "shaka"]
uppercase = [name.upper() for name in names] # JADIIN SEMUA HURUF KE HURUF CAPITAL
short_names = [name for name in names if len(name) < 5] #NAMA YANG KURANG DARI 5 HURUF
print(uppercase)
print(short_names)

['SABIAN', 'NOVAN', 'BAGAS', 'IMAM', 'SHAKA']
['imam']

In [25]:
#project student grade manajer

#step 1: input nilai student
student_scores = input("Masukkan nilai siswa (pisahkan dengan koma): ")
scores = [int(score) for score in student_scores.split(",")]

#step 2 nilai
grades = [
    "A" if score >= 90 else
    "B" if score >= 80 else
    "C" if score >= 70 else
    "D" if score >= 60 else
    "E"
    for score in scores
]

#step 3:
passing_student =[score for score in scores if score >= 60]
falling_student =[score for score in scores if score < 60]

print("\n=== nilai siswa ===")
for i, (score,grade) in enumerate(zip(scores,grades), start=1):
  print(f"Siswa {i}: Score: {score}, Nilai: {grade}")

print("\n=== statistik nilai ===")
print(f"Jumlah siswa yang lulus: {len(passing_student)}")
print(f"Jumlah siswa yang gagal: {len(falling_student)}")

Masukkan nilai student (pisahkan dengan koma): 90,60,64,86,96,75,45,66,26

=== nilai siswa ===
Siswa 1: Score: 90, Nilai: A
Siswa 2: Score: 60, Nilai: D
Siswa 3: Score: 64, Nilai: D
Siswa 4: Score: 86, Nilai: B
Siswa 5: Score: 96, Nilai: A
Siswa 6: Score: 75, Nilai: C
Siswa 7: Score: 45, Nilai: E
Siswa 8: Score: 66, Nilai: D
Siswa 9: Score: 26, Nilai: E

=== statistik nilai ===
Jumlah siswa yang lulus: 7
Jumlah siswa yang gagal: 2